<h1>New Movies</h1>
<%=form_for @movie do |f|%>
  <%=f.label :title%>
  <%=f.text_field :title%><br><br>
  <%=f.label :Author%>
  <%=f.text_field :autor%><br><br>
  <%=f.label :released%>
  <%=f.date_field :released%><br><br>
  <%=f.label :Description%>
  <%=f.text_area :description%><br><br>
  <%=f.submit%>
<%end%>
